@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("../fonts/Akrobat/Akrobat-ExtraBold.ttf");
  src: url("../fonts/Akrobat/Akrobat-ExtraBold.otf"); }

@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("../fonts/Akrobat/Akrobat-SemiBold.ttf");
  src: url("../fonts/Akrobat/Akrobat-SemiBold.otf"); }
